footer {
   background-color: #252525;
   display: flex;
 
   justify-content: center;
 
   margin-top: 3rem;
   padding: 4.55rem 0;
 
   width: 100%;
 }
 
 .footerContent {
   align-items: center;
   display: flex;
   max-width: 1050px;
   width: 70%;
 }
 
 footer h4 {
   font-weight: 400;
 }
 
 footer h5 {
   color: #bebebe;
   font-weight: 500;
 }
 
 .footerNavsContainer {
   display: flex;
   gap: 80px;
 }
 
 footer ul li,
 footer li a {
   color: #9c9c9c;
 }
 
 footer ul li:hover,
 footer ul li a:hover {
   color: #bebebe;
 }
 
 footer ul {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   margin-top: 1.55rem;
 }