.contentSection {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  padding: 5rem 0;
  position: relative;
  margin-bottom: 6.25rem;
}

@media (max-width: 480px) {
  .contentSection {
    gap: 3rem;
    padding: 2.5rem 0;
    margin-bottom: 0;
  }
}
