.skillsList {
   display: flex;
   gap: 35px;
   margin-top: 30px;
   flex-wrap: wrap;
 }
 
 .skillIconContainer {
   align-items: center;
   display: flex;
   flex-direction: column;
   gap: 12px;
   font-weight: 400;
 }
 
 .skillIconContainer p {
   font-size: 1.1rem;
 }
 
 .skillIconContainer i {
   font-size: 4rem;
 }