* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222222;

  font-family: "Segoe UI", sans-serif;
  font-family: "Inter", sans-serif;

  color: #dedede;
  line-height: 1.25;
}

h1 {
  font-size: 2.75rem;
  color: #ececec;
  font-weight: 600;
}

h2 {
  font-size: 2.35rem;
  font-weight: 600;
}

h3 {
  color: #dedede;

  font-size: 1.85rem;
  font-weight: 500;
}

h4 {
  font-size: 1.75rem;
  font-weight: 500;
}

h5 {
  font-size: 1.2rem;
}
.siteContainer {
  max-width: 1250px;
  margin: 0 auto;
  position: relative;
  width: 90%;
}

.landingSection {
  display: grid;
  grid-template-rows: 120px 1fr;
  height: 100vh;
  position: relative;
  margin: 0 auto;
}

.landingSection h1 {
  font-size: 3.5rem;
}

/* landing text */
.landingSection div {
  position: absolute;
  top: 45%;
  left: 5%;
  transform: translateY(-50%);
}

.landingSection div button {
  margin-top: 15px !important;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  width: 100%;
}

ul {
  display: flex;
  gap: 50px;
}

li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

nav li,
nav a {
  color: #afafaf;
  cursor: pointer;
  font-size: 1.05rem;
  font-weight: 500;
}

nav a:hover,
nav li:hover {
  color: #c9c9c9;
}

button {
  border-radius: 50px;
  border: none;
  background-color: #91a3b0;
  color: #dedede;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 0.95rem;
  padding: 15px 30px;
}

.coloredText {
  color: #91a3b0;
}


/* skills */

.contentSection {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 75px 0;
  position: relative;
  margin-bottom: 100px;
}

.skillsList {
  display: flex;
  gap: 35px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.skillIconContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-weight: 400;
}

.skillIconContainer p {
  font-size: 1.1rem;
}

.skillIconContainer i {
  font-size: 4rem;
}

footer {
  background-color: #252525;
  display: flex;

  justify-content: center;

  margin-top: 50px;
  padding: 70px 0;

  width: 100%;
}

.footerContent {
  align-items: center;
  display: flex;
  max-width: 1050px;
  width: 70%;
}

footer h4 {
  font-weight: 400;
}

footer h5 {
  color: #bebebe;
  font-weight: 500;
}

.footerNavsContainer {
  display: flex;
  gap: 80px;
  /* width: 100%; */
}

footer ul li,
footer li a {
  color: #9c9c9c;
}

footer ul li:hover,
footer ul li a:hover {
  color: #bebebe;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
}

@media (max-width: 1100px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12.99px;
  }
}
