* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222222;

  font-family: "Segoe UI", sans-serif;
  font-family: "Inter", sans-serif;

  color: #dedede;
  line-height: 1.25;
}

h1 {
  font-size: 2.75rem;
  color: #dddddd;

  font-weight: 600;
}

h2 {
  font-size: 2.35rem;
  font-weight: 600;
}

h3 {
  color: #dedede;

  font-size: 1.85rem;
  font-weight: 500;
}

h4 {
  font-size: 1.75rem;
  font-weight: 500;
}

h5 {
  font-size: 1.2rem;
}

.siteContainer {
  max-width: 1250px;
  margin: 0 auto;
  position: relative;
  width: 90%;
}

ul {
  display: flex;
  gap: 50px;
}

li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}



button {
  border-radius: 50px;
  border: none;
  background-color: #91a3b0;
  color: #dedede;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 0.95rem;
  padding: 15px 30px;
}

button:hover {
  background-color: #99acb9;
}

.coloredText {
  color: #91a3b0;
}

/* skills */





@media (max-width: 1100px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12.99px;
  }
}
