.projectsContainer {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  width: 85%;
}

.projectsList {
  display: flex;
  flex-direction: column;
  gap: 100px;
  overflow-y: scroll;
  max-height: 1100px;
  min-height: 800px;
  width: 85%;
}

.projectsNav {
  margin-top: 35px;
}

.projectsNav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 120px;
}

.projectsNav li {
  color: #9c9c9c;
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
}

.projectsNav li:hover {
  color: #dcdcdc;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.projectImageGallery {
  /* background-color: #272727; */
  border-radius: 10px;
  margin-top: 5px;
  /* width: 80%; */
  height: 400px;
}

.projectImageGallery img {
  z-index: 10;
  /* aspect-ratio: 16/9; */
  /* height: 100%; */
  width: 100%;
}

/* create style for display flex row and flex col */

.projectActions {
  align-items: center;
  display: flex;

  gap: 22px;
}

.linkBtn {
  border-radius: 50px;
  border: none;
  background-color: #91a3b0;
  color: #dedede;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 0.95rem;
  padding: 15px 30px;
}

.projectDescription {
  margin: 5px 0;
}

.projectDescription p {
  font-size: 1.25rem !important;
}

.gray-dark {
  color: #9c9c9c;
}

.font-secondary {
  color: #bbbbbb;
}

.projectActions a:last-of-type {
  color: #9c9c9c;
}

.projectActions a:hover {
  color: #dcdcdc;
}

.project p {
  font-weight: 400;
  font-size: 1.1rem;
}
