.projectsContainer {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
}

.projectsList {
  display: flex;
  flex-direction: column;
  gap: 150px;

}

.projectsNav {
  margin-top: 35px;
}

.projectsNav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 120px;
}

.projectsNav li {
  color: #9c9c9c;
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
}

.projectsNav li:hover {
  color: #dcdcdc;
}

.project {
  display: flex;
  gap: 35px;
  padding-right: 60px;
}

.project:nth-of-type(even) {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 60px;
  padding-right: 0;

  gap: 25px;
}

.project > * {
  flex: 1;
}

.projectImageGallery {
  border-radius: 10px;
  margin-top: 5px;
  height: 400px;
}

.project:nth-of-type(even) .projectImageGallery {
  flex: 1.1;
}

.projectImageGallery img {
  z-index: 10;

}

/* create style for display flex row and flex col */

.linkBtn {
  border-radius: 50px;
  border: none;
  background-color: #91a3b0;
  color: #dedede;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 0.95rem;
  padding: 15px 30px;
}

.projectDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.projectDescription p {
  font-size: 1.25rem !important;
}

.gray-dark {
  color: #9c9c9c;
}

.font-secondary {
  color: #bbbbbb;
}


.technology_actionsContainer {
  margin-top: 12px;
}


.projectActions {
  align-items: center;
  display: flex;

  gap: 22px;
  margin-top: 18px;
}

.projectActions a:last-of-type {
  color: #9c9c9c;
}

.projectActions a:hover {
  color: #dcdcdc;
}

.project p {
  font-weight: 400;
  font-size: 1.1rem;
}

/* queries for project section */

@media (max-width: 1000px) {
  .project {
    flex-direction: column;
    padding: 0;
  }

  .project:nth-of-type(even) {
    flex-direction: column;
    padding-left: 0;
  }
}
