.projectsContainer {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1.25px;
}

.projectsList {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.project {
  display: flex;
  gap: 2.25rem;
  padding-right: 3.75rem;
}

.project:nth-of-type(even) {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 3.75rem;
  padding-right: 0;

  gap: 1.5rem;
}

.project > * {
  flex: 1;
}

.projectImageGallery {
  border-radius: 10px;
}

.project:nth-of-type(even) .projectImageGallery {
  flex: 1.1;
}

.projectImageGallery img {
  z-index: 10;
}

.linkBtn {
  border-radius: 50px;
  border: none;
  background-color: #91a3b0;
  color: #dedede;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 0.95rem;
  padding: 1.1rem 2rem;
}

.linkBtn:hover {
  background-color: #99acb9;
}

.projectDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.projectDescription p {
  font-size: 1.25rem !important;
}

.gray-dark {
  color: #9c9c9c;
}

.font-secondary {
  color: #bbbbbb;
}

.technology_actionsContainer {
  margin-top: 20px;
}

.projectActions {
  align-items: center;
  display: flex;

  gap: 1.3rem;
  margin-top: 1.1rem;
}

.projectActions a:last-of-type {
  color: #9c9c9c;
}

.projectActions a:hover {
  color: #dcdcdc;
}

.project p {
  font-weight: 400;
  font-size: 1.1rem;
}

@media (max-width: 1000px) {
  .project {
    flex-direction: column;
    padding: 0;
  }

  .project:nth-of-type(even) {
    flex-direction: column;
    padding-left: 0;
  }
}
